:root {
    --primary-color: #0e386f;
    --success-color: #fe151b;
    --bgcolor : #ffcc00;
}

body {
    margin: 0;
    line-height: 1.5;
    color: #212529;
    background-color: #fff;
}
.custompage .limiter {
    width: 100%;
    margin: 0 auto;
}
.custompage .container-login {
    width: 100%;
    min-height: 100vh;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    padding: 15px;
    background: url(images/background.png) top center;
    background-size: cover;
}
.custompage .wrap-login {
    background: #fff;
    border-radius: 10px;
    padding: 0;
    box-shadow: 0 12px 26px rgba(16, 30, 115, 0.23);
}
.custompage .padding-login {
    padding: 10px 0 10px 30px;
}
.custompage .width-login {
    width: 750px;
    height: 500px;
}
.custompage .width-register {
    width: 700px;
    padding: 30px 35px;
}
.custompage h3.title, legend {
    font-weight: 800;
    font-size: 20px;
    color: #0e386f;
    padding: 1rem 0;
}
.custompage label {
    color: #0e386f;
    font-weight: 400;
}
.custompage #vegas{
    width: 100%;
    min-height: 500px;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    border-top-right-radius: 10px;
    border-bottom-right-radius: 10px;
    background: var(--bgcolor);;
}
.custompage .form-control,
.custompage .bootstrap-select .dropdown-toggle.btn-default {
    border: 2px solid #B3C8D7;
}
.custompage .last-password {
    padding: 2.5rem 0;
    text-align: center;
}
.btn-primary {
    color: #fff;
    background-color: var(--primary-color);
    border-color: var(--primary-color);;
    font-weight: bold;
}
.btn-success {
    color: #fff;
    background-color: var(--success-color);
    border-color: var(--success-color);
    font-weight: bold;
}
.custompage .software-name {
    text-align: center;
    padding: 1rem 0;
    margin-top: 1rem;
    display: inline-block;
    width: 100%;
    font-size: 12px;
}
.custompage .row{
    margin-bottom: 0;
}
